<mat-card>
  <div class="main-content">
    <h1>Fill a Survey with SurveyShrike </h1>
    <p>Let us know what you thing so that we can serve you better..</p>
    <div class="features-section">
      <h1>Features</h1>
      <div fxLayout="row wrap" fxLayoutAlign="start">
        <div (click)="redirectTo('dashboard/add-update-survey/0')"  class="features" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <div class="feature-wrap">
            <i class="fa fa-map"></i>
            <h2>Create a Survey Form</h2>
            <p>Create a Survey form hasslefree and almost immediately.</p>
          </div>
        </div>
        <div (click)="toBeImplemented('tobe  ')" class="features" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <div class="feature-wrap">
            <i class="fa fa-map"></i>
            <h2>Fill A Survey</h2>
            <p>Fill the survey in no time.</p>
          </div>
        </div>
        <div (click)="redirectTo('dashboard/manage-survey')" class="features" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <div class="feature-wrap">
            <i class="fa fa-map"></i>
            <h2>manage Surveys</h2>
            <p>Fill the survey in no time.</p>
          </div>
        </div>

        <div (click)="toBeImplemented('tobe  ')" class="features" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <div class="feature-wrap">
            <i class="fa fa-map"></i>
            <h2>Survey Responses</h2>
            <p>Fill the survey in no time.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</mat-card>