################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/SurveyShrike-API/packages
src/SurveyShrike-API/OutputBin
src/SurveyShrike-API/EHRS.Data/bin
src/SurveyShrike-API/EHRS.Web/bin
src/SurveyShrike-API/EHRS.Shared/obj
src/SurveyShrike-API/EHRS.Shared/bin
src/SurveyShrike-API/EHRS.WebAPI/obj
src/SurveyShrike-API/EHRS.WebAPI/bin
src/SurveyShrike-API/EHRS.Web.Shared/obj
src/SurveyShrike-API/EHRS.Web.Shared/bin
src/SurveyShrike-API/EHRS.Data/obj
src/SurveyShrike-API/EHRS.DTOModel/obj
src/SurveyShrike-API/EHRS.DTOModel/bin
src/SurveyShrike-API/EHRS.DTOModel/bin/Debug
src/SurveyShrike-API/EHRS.Business/obj
src/SurveyShrike-API/EHRS.Business/bin
src/SurveyShrike-API/EHRS.EntityDataModel/obj
src/SurveyShrike-API/EHRS.EntityDataModel/bin
src/SurveyShrike-API/EHRS.WebAPI.Tests/obj
src/SurveyShrike-API/EHRS.WebAPI.Tests/bin
src/SurveyShrike-API/EHRS.Web/obj
src/SurveyShrike-API/EHRS.IdentityServer/obj
src/SurveyShrike-API/EHRS.IdentityServer/bin

*.suo
*.user 
 
src/SurveyShrike-API/EHRS.Business/obj/
src/SurveyShrike-API/EHRS.Database/bin/
src/SurveyShrike-API/EHRS.Database/obj/
src/SurveyShrike-API/EHRS.IdentityServer/Logs/
