@import 'font-awesome.css';
@import 'variable';

html,body{
	line-height: normal;
}
body{
	font-size: 14px;
	//font-family:$fontFamily;
	line-height: normal;
	background-size:cover;  
	font-family:$fontFamily;
	color:$gray;
}

//helper classes
.fullHeight{
	height: 100vh;
}

a{color:$blue;}

// css for input text
input.input-custom{
	@include border-radius(4px);
	// background:#a7dcea;
	color:#333;
	// border-bottom: none;
	// box-shadow: none;
	padding:0 15px;
	box-sizing: border-box;
	border:$gray 1px solid;
	margin:0;
}
input.input-custom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#505050;
}
input.input-custom::-moz-placeholder { /* Firefox 19+ */
  color:#505050;
}
input.input-custom:-ms-input-placeholder { /* IE 10+ */
  color:#505050;
}
input.input-custom:-moz-placeholder { /* Firefox 18- */
  color:#505050;
}

div.wrapper{
	// background: url(../images/SM150261.jpg) no-repeat center center;
	background:#5bbc93;
}

.btn{
	background:$blue;
	color:$white;
	@include border-radius(4px);
	&:hover{
		background:#1a548b;
	}
	&:focus{
		background:#1a548b;
	}
	&:active{
		background:#1a548b;
	}
}




@import 'media-query';