<div class="footer-inner">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="quick-links">
    <div fxFlex="100" fxFlex.gt-sm="32" fxFlex.gt-xs="32">
      <h4>Survey Management</h4>
      <ul>
        <li>
          <a href="#">Create a Survey</a>
        </li>
       
      </ul>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="32" fxFlex.gt-xs="32">
      <h4>User Management</h4>
      <ul>
        <li>
          <a href="#">Add new manager</a>
        </li>
       
      </ul>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="32" fxFlex.gt-xs="32">
      <h4>Misc</h4>
      <ul>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
  <thin-footer></thin-footer>
