<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" title="Home" type="link" icon="home" url="">
  
    <siteMapNode SystemName="DASHBOARD" title="Dashboard" roles="Anonymous" type="link" icon="explore" url="dashboard" >
    </siteMapNode>
   
    <siteMapNode SystemName="ENTER_VERIFICATION_CODE" title="Enter Verification Code" roles="Parent,Teacher,User" type="link" icon="verified_user" url="" permissions="view,add,edit,delete"/>
   
    <siteMapNode SystemName="CHILDREN_ENROLLED" title="Children Enrolled" roles="Parent" type="link" icon="verified_user" url="" permissions="view,add,edit,delete"/>
  
    <siteMapNode SystemName="TRACK_CHILD" title="Track Child" roles="Parent" type="link" icon="directions_bus" url="" >
    </siteMapNode>

    <siteMapNode SystemName="NOTIFICATIONS" title="Notifications" roles="Anonymous" type="link" icon="notifications_none" url="" >
    </siteMapNode>
    
    <siteMapNode SystemName="DAILY_DIARY" title="Daily Diary" roles="Parent" type="link" icon="event_note" url="" >
    </siteMapNode>

    <siteMapNode SystemName="TESTS_CALENDAR" title="Tests Calendar" roles="Parent" type="link" icon="perm_contact_calendar" url="" permissions="view">
    </siteMapNode>

    <siteMapNode SystemName="HOLIDAY_CALENDAR" title="Holiday Calendar" roles="Parent,Teacher" type="link" icon="perm_contact_calendar" url="" permissions="view">
    </siteMapNode>

    <siteMapNode SystemName="ATTENDENCE" title="Attendence" roles="Parent" icon="today" type="link" permissions="view">
    </siteMapNode>

    <siteMapNode SystemName="SCHOOL_MENU" title="School Menu" roles="Teacher,Manager,Operator,Admin" type="sub" icon="home" url="">
      <siteMapNode SystemName="SEND_VERIFICATIONCODE" title="Send Verification Code" roles="Admin,Operator" type="link" icon="verified_user" url="add-students" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="SEND_NOTIFICATION" title="Send Notification" roles="Admin,Manager,Operator,Teacher" icon="mail" url="notification" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="HOLIDAY_CALENDAR_UPDATE" title="Holiday Calendar Update" roles="Admin,Manager,Operator" icon="perm_contact_calendar" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="TESTS_CALENDAR_UPDATE" title="Exam/Tests Calendar Update" roles="Admin,Manager,Operator,Teacher" icon="date_range" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="ADD_STUDENT" title="Add Student" roles="Admin,Operator" type="link" icon="verified_user" url="add-students" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="UPDATE_STUDENT" title="Update Student" roles="Admin,Operator" type="link" icon="verified_user" url="update-students" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="TRACK_SCHOOL_BUS" title="Track School Bus" roles="Admin,Manager,Operator" icon="directions_bus" permissions="view"/>
      <siteMapNode SystemName="ATTENDANCE_UPDATE" title="Attendance Update" roles="Admin,Manager,Operator" icon="system_update" permissions="add,edit,delete"/>
      <siteMapNode SystemName="ATTENDANCE_REPORTS" title="Attandence Reports" roles="Admin,Manager,Operator,Teacher" icon="assignment_ind" permissions="view,add,edit,delete"/>

      <!--Teacher Only-->
      <siteMapNode SystemName="DIARY_UPDATE" title="Diary Update" roles="Teacher" type="link" icon="library_books" url="" permissions="view,add,edit,delete"/>

      <!--Admin Only-->
      <siteMapNode SystemName="MANAGE_SCHOOL_DETAILS" title="Manage School Details" roles="Admin" url="manageSchool" icon="school" type="link" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="MANAGE_SUBSCRIPTION" title="Manage Subscription" roles="Admin" url="manageSubscription" icon="card_membership" type="link" permissions="view,add,edit,delete"/>
    
    </siteMapNode>

    <siteMapNode SystemName="SECURITY" title="Security" roles="Admin" type="sub" icon="settings" url="" >
      <siteMapNode SystemName="ROLE_MANAGEMENT" title="Role Management" roles="Admin" url="manageUserRole" icon="settings" type="link" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="USER_MANAGEMENT" title="User Management" roles="Admin" url="manageUser" icon="face" type="link" permissions="view,add,edit,delete"/>
    </siteMapNode>

    <!--Global-->
    <siteMapNode SystemName="MY_ACCOUNT" title="My Account" roles="Parent,Teacher,Manager,Operator,Admin,User" type="sub" icon="account_circle" url="" >
      <siteMapNode SystemName="MY_PROFILE" title="My Profile" roles="Parent,Teacher,Manager,Operator,Admin,User" type="link" icon="mode_edit" url="profile" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="CHANGE_PASSWORD" title="Change Password" roles="Parent,Teacher,Manager,Operator,Admin,User" type="link" icon="remove_red_eye" url="change-password" permissions="view,add,edit,delete"/>
      <siteMapNode SystemName="FORGOT_PASSWORD" title="Forgot Password" roles="Parent,Teacher,Manager,Operator,Admin,User" type="link" icon="remove_red_eye" url="change-password" permissions="view,add,edit,delete"/>
    </siteMapNode>

    <siteMapNode SystemName="LOGINREGISTER" title="Login/Register" roles="Anonymous" type="link" icon="account_circle" url="login" >
    </siteMapNode>
    
    <siteMapNode SystemName="LOGOUT" title="Logout" roles="Parent,Teacher,Manager,Operator,Admin,User" type="link" icon="power_settings_new" url="logout" permissions="view"/>

  </siteMapNode>
</siteMap>

