.error-container{
    float: left;
    width: 99%;
    padding: 5px; 
}
.error-container h4{
    color: #f3081d;
    font-size: 25px;
}
.error-container h6{
    color: #000;
    font-size: 20px;  
}
.error-container span{
    color: #000;
    font-size: 14px;
}